nav{
text-align:left;
font-style:times new roman;
background-color:brown;
text-size:200px;
font-weight:800;
margin:upper left;
padding:10px 10px 10px 10px;
display:block;
text-decoration:none;
}

h1{
  text-align:center;
  font-style:arial;
  color:coral;
  text-size:200px;
  font-weight:800;
  padding:12px 10px 12px 12px;

}
h2{
  font-style:times new roman;
  color:brown;
  text-align:justify;

}
nav a{
  float: center;
  widith:1.5cm;
  text-size:150px:
  font-family:'Raleway', sans-serif;;
  color:grey;
  padding: 12px 12px 12px 12px;
}
img{
  float:right
}
h3{
  color:brown;
}
.logo{
  height:80px;
  width:80px;

}
body{
  background-image: url(https://wallpaperaccess.com/full/1125812.jpg);
}
footer{
  background-color:brown;
  color:grey;
  text-align:center;
  padding:12px 12px 12px 12px
}
.logo{
  margin:upper right;
}
